<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles.css" />
    <link rel="stylesheet" href="assets/personal_styles.css" />
    <title>Students manager</title>

</head>
<body>
    <main>
        <h1>Students assigments manager </h1>
        <table class="assignations-table">
            <thead>
                <tr>
                    <th>Assignation</th>
                    <th>Type / Location</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <%for (var i=0; i < tasks.length; i++){ %>
                    <tr>
                        <td>
                            <a href='<%= tasks[i].title %>'> Title: <%= tasks[i].title %> </a>
                        </td>
                        <td>
                            <span>Type: <%= tasks[i].type %></span>
                        </td>
                        <td><button class="btn_action add">
                                <span aria-hidden="true">Add</span>
                                <span></span>
                                <span>Add</span>
                            </button>
                            <button class="btn_action edit">
                                <span aria-hidden="true">Edit</span>
                                <span></span>
                                <span>Edit</span>
                            </button>
                            <button class="btn_action eliminate">
                                <span aria-hidden="true">Eliminate</span>
                                <span></span>
                                <span><a href="/delete?task_id=<%= tasks[i].task_id %>">Eliminate</a></span>
                            </button>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </main>

</body>

</html>