main {
    margin-top: 4%;
}
main {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
}

main table {
    border: 0px;
}

main table:last-child{
    text-align: center;
    margin-top: 19pt;
    margin-bottom: 29pt;
    margin-left: auto;
    margin-right: auto;
}

main table tbody tr {
    background: #000;
    color: white;
    max-height: 70px;
}


main table tbody tr td {
    vertical-align: center;
}

main table tbody tr a {
    color: white;
    text-decoration: none;
}

main table tbody tr a:hover {
    text-decoration: underline;
}
main table {
    margin-top: 30px;
}

main table tr td {
    border:none; 
    padding: 15.6px;
}

main table thead tr:first-child {
    display: flex;
}
main table tbody {
    display: block;
}
main table thead tr {
    padding-right: 34px !important;
    overflow: hidden;
    display: inline-flex;
    justify-content: space-between !important;
    width: 500px;
}
main table tbody tr td {
    margin-right: 10px;
}
main table tr td:last-child {
    padding: 0px !important;
    padding-left: 0px !important;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

main table tr td:last-child button{
    margin-left: 2px;
}

.assignations-table thead {
    height: 45px;
}

main table thead tr th {
    margin-bottom: 20px !important;
    padding: 0px;
}

/***/
/* Buttons styles
/*
/***/

.btn_action.add span{
    background-color: rgb(5, 11, 124);   
}
.btn_action.add span:hover {
    background: black;
    color: white;
}

