main {
    margin-top: 4%;
}
main {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
}

main table {
    border: 0px;
}

main table:last-child{
    text-align: center;
}

main table {
    margin-top: 30px;
}

main table tr td {
   padding-top: 4px;
   padding-bottom: 4px;
}